main {
  background-color: var(--primary);
  color: #fff;
  height: calc(100vh - 98px - 132px);
}

.container {
  width: var(--container);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 30%;
}

h1 {
  font-size: 48px;
  font-weight: 400;
  line-height: 1.2;
  font-family: 'Oswald', sans-serif;
}

p {
  font-size: 20px;
  text-align: justify;
  font-family: 'Open sans', sans-serif;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 12px;
  width: 60%;
}

.form-row {
  display: flex;
  flex-direction: column;
}

.form-row > input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding: 12px 8px;
  color: #fff;
}

::placeholder {
  font-family: 'Open sans', sans-serif;
  color: #ffffffaa;
  font-size: 16px;
}

.password {
  grid-column: span 2 / span 2;
}

button {
  padding: 16px;
  grid-column: span 2 / span 2;
  cursor: pointer;
  border-radius: 32px;
  border: none;
  background-color: #fff;
  color: var(--primary);
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  main {
    height: calc(100vh + 48px);
  }

  .container {
    flex-direction: column;
    gap: 48px;
    padding: 24px 12px;
    height: fit-content;
  }

  aside {
    width: 100%;
  }

  form {
    width: 100%;
  }
}
